.main-header {
  border: 1px solid #eeeeee;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  &__menu {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    align-items: center;
    justify-content: flex-start;
  }

  &__menu li:nth-of-type(2) {
    padding-left: 93px;
  }

  &__menu li {
    max-width: 254px;
    margin-right: 46px;
  }

  &__address {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    gap: 50px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  &__address > li > a {
    transition: $transition-color;
  }

  &__address > li > a > svg {
    transition: $transition-color, $transition-fill;
  }

  &__address {
    & li :hover,
    & li :focus {
      color: $basic-color;
    }
  }

  &__address {
    & li:hover svg,
    & li :focus svg {
      fill: $basic-color;
    }
  }

  &__link--with-icon {
    display: flex;
    align-items: center;
    color: $contact-color;
  }

  &__icon {
    fill: $contact-color;
    padding-right: 10px;
  }
}

.main-menu {
  &__item--underline {
    position: relative;
    top: 30px;
  }

  &__item--underline::after {
    content: "";
    background: #2196f3;
    border-radius: 2px;
    width: 53px;
    height: 4px;
    display: block;
  }

  &__item {
    & :hover,
    & :focus {
      color: $basic-color;
      transition: $transition-color;
    }
  }
}

.page-link {
  &__logo {
    font-size: 26px;
    font-weight: 700;
    font-family: Raleway;
    letter-spacing: 0.03em;
  }

  &__logo--highlighted {
    color: $basic-color;
  }
}
